CONFIG_ISA_riscv=y
CONFIG_RISCV_EXT_B=y
CONFIG_RISCV_EXT_C=y
CONFIG_SOC_SIM=y
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
CONFIG_DEVICE=y
CONFIG_PMEM_GARRAY=y
# CONFIG_TRACE is not set
