CONFIG_ISA_riscv=y
CONFIG_RISCV_EXT_B=y
CONFIG_RISCV_EXT_C=y
CONFIG_SOC_SIM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
CONFIG_DEVICE=y
CONFIG_HAS_GOLDFISH_RTC=y
CONFIG_HAS_SYSCON_RESET=y
CONFIG_SYSCON_POWEROFF_VALUE=0x5555
CONFIG_SYSCON_REBOOT_VALUE=0x7777
CONFIG_PMEM_GARRAY=y
# CONFIG_TRACE is not set
