CONFIG_RV64=y
CONFIG_RISCV_EXT_M=y
CONFIG_RISCV_EXT_A=y
CONFIG_RISCV_EXT_F=y
CONFIG_RISCV_EXT_D=y
CONFIG_RISCV_EXT_C=y
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
# CONFIG_PERFORMANCE is not set
CONFIG_DEVICE=y
CONFIG_BATCH_MODE=y
CONFIG_MSIZE=0x20000000
CONFIG_PMEM_MALLOC=y
# CONFIG_MEM_RANDOM is not set
# CONFIG_CACHE is not set
CONFIG_HAS_SERIAL=y
CONFIG_SERIAL_MMIO=0x10000000
CONFIG_SERIAL_INPUT_FIFO=y
CONFIG_SERIAL_INPUT_STDIN=y
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
CONFIG_HAS_DISK=y
CONFIG_DISK_CTL_MMIO=0x10001000
CONFIG_DISK_IMG_PATH=""
CONFIG_HAS_VIRTIO_RNG=y
CONFIG_VIRTIO_RNG_MMIO=0x10002000
CONFIG_HAS_GOLDFISH_RTC=y
CONFIG_GOLDFISH_RTC_MMIO=0x10003000
CONFIG_TRACE=y
# CONFIG_MTRACE is not set
# CONFIG_ITRACE is not set
# CONFIG_DTRACE is not set
# CONFIG_ETRACE is not set
# CONFIG_FTRACE is not set
CONFIG_STATISTIC=y
CONFIG_RISCV_DEBUG_LOG=y
CONFIG_RISCV_FAULT_DEBUG_BUDGET=2048
CONFIG_RISCV_PROGRESS_DEBUG_LOG=y
CONFIG_RISCV_PROGRESS_DEBUG_INTERVAL=100000000
CONFIG_RISCV_IRQ_DEBUG_LOG=y
CONFIG_RISCV_SYSCALL_DEBUG_LOG=y
CONFIG_RISCV_SYSCALL_DEBUG_BUDGET=4096
