CONFIG_RV64=y
CONFIG_RISCV_EXT_M=y
CONFIG_RISCV_EXT_A=y
CONFIG_RISCV_EXT_F=y
CONFIG_RISCV_EXT_D=y
CONFIG_RISCV_EXT_C=y
CONFIG_RISCV_CLINT_HOST_TIME=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
CONFIG_PERFORMANCE=y
CONFIG_INTERPRETER_BASIC_BLOCK=y
CONFIG_INTERPRETER_TB_MAX_INST=256
CONFIG_INTERPRETER_WIDE_IFETCH=y
CONFIG_INTERPRETER_IFETCH_PAGE_CACHE=y
CONFIG_INTERPRETER_INTR_FAST_FLAG=y
CONFIG_DEVICE=y
# CONFIG_DEVICE_MAP_LEGACY is not set
CONFIG_BATCH_MODE=y
CONFIG_MSIZE=0x40000000
CONFIG_PMEM_MALLOC=y
# CONFIG_MEM_RANDOM is not set
# CONFIG_CACHE is not set
CONFIG_HAS_SERIAL=y
CONFIG_SERIAL_INPUT_FIFO=y
CONFIG_SERIAL_INPUT_STDIN=y
CONFIG_SERIAL_INPUT_HOST_POLL_INTERVAL=4
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
CONFIG_HAS_VGA=y
CONFIG_VGA_SHOW_SCREEN=y
CONFIG_VGA_AUTO_SCANOUT=y
# CONFIG_VGA_SIZE_400x300 is not set
CONFIG_VGA_SIZE_800x600=y
# CONFIG_HAS_AUDIO is not set
CONFIG_HAS_DISK=y
CONFIG_DISK_IMG_PATH=""
CONFIG_HAS_VIRTIO_RNG=y
CONFIG_HAS_VIRTIO_NET=y
CONFIG_HAS_VIRTIO_INPUT=y
CONFIG_HAS_GOLDFISH_RTC=y
CONFIG_HAS_SYSCON_RESET=y
CONFIG_SYSCON_POWEROFF_VALUE=0x5555
CONFIG_SYSCON_REBOOT_VALUE=0x7777
# CONFIG_TRACE is not set
