CONFIG_RV64=y
CONFIG_RISCV_EXT_M=y
CONFIG_RISCV_EXT_A=y
CONFIG_RISCV_EXT_B=y
CONFIG_RISCV_EXT_C=y
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
CONFIG_DEVICE=y
CONFIG_MSIZE=0x40000000
CONFIG_PMEM_MALLOC=y
# CONFIG_MEM_RANDOM is not set
# CONFIG_TRACE is not set
CONFIG_RISCV_EXT_F=y
CONFIG_RISCV_EXT_D=y
CONFIG_HAS_SERIAL=y
CONFIG_SERIAL_MMIO=0x10000000
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
CONFIG_HAS_DISK=y
CONFIG_DISK_CTL_MMIO=0x10001000
CONFIG_DISK_IMG_PATH=""
CONFIG_HAS_VIRTIO_RNG=y
CONFIG_VIRTIO_RNG_MMIO=0x10002000
CONFIG_HAS_VIRTIO_NET=y
CONFIG_VIRTIO_NET_MMIO=0x10004000
CONFIG_HAS_GOLDFISH_RTC=y
CONFIG_GOLDFISH_RTC_MMIO=0x10003000
CONFIG_HAS_SYSCON_RESET=y
CONFIG_SYSCON_RESET_MMIO=0x100000
CONFIG_SYSCON_POWEROFF_VALUE=0x5555
CONFIG_SYSCON_REBOOT_VALUE=0x7777
