menuconfig DEVICE
  depends on !TARGET_SHARE
  bool "Devices"
  default n
  help
    Provide device support for NEMU.

if DEVICE

config HAS_PORT_IO
  bool
  default y if ISA_x86
  default n

menuconfig HAS_SERIAL
  bool "Enable serial"
  default y

if HAS_SERIAL
config SERIAL_PORT
  depends on HAS_PORT_IO
  hex "Port address of the serial controller"
  default 0x3f8

config SERIAL_MMIO
  hex "MMIO address of the serial controller"
  default 0xa00003f8

config SERIAL_INPUT_FIFO
  depends on !TARGET_AM
  bool "Enable input FIFO with /tmp/nemu.serial"
  default n

config SERIAL_INPUT_STDIN
  depends on !TARGET_AM
  bool "Attach host stdin to serial RX"
  default y if BATCH_MODE
  default n
endif # HAS_SERIAL

menuconfig HAS_TIMER
  bool "Enable timer"
  default y

if HAS_TIMER
config RTC_PORT
  depends on HAS_PORT_IO
  hex "Port address of the timer"
  default 0x48

config RTC_MMIO
  hex "MMIO address of the timer"
  default 0xa0000048
endif # HAS_TIMER

menuconfig HAS_KEYBOARD
  bool "Enable keyboard"
  default y

if HAS_KEYBOARD
config I8042_DATA_PORT
  depends on HAS_PORT_IO
  hex "Port address of the keyboard controller"
  default 0x60

config I8042_DATA_MMIO
  hex "MMIO address of the keyboard controller"
  default 0xa0000060
endif # HAS_KEYBOARD

menuconfig HAS_VGA
  bool "Enable VGA"
  default y

if HAS_VGA
config FB_ADDR
  hex "Physical address of the VGA frame buffer"
  default 0xa1000000

config VGA_CTL_PORT
  depends on HAS_PORT_IO
  hex "Port address of the VGA controller"
  default 0x100

config VGA_CTL_MMIO
  hex "MMIO address of the VGA controller"
  default 0xa0000100

config VGA_SHOW_SCREEN
  bool "Enable SDL SCREEN"
  default y

choice
  prompt "Screen Size"
  default VGA_SIZE_400x300
config VGA_SIZE_400x300
  bool "400 x 300"
config VGA_SIZE_800x600
  bool "800 x 600"
endchoice
endif # HAS_VGA

if !TARGET_AM
menuconfig HAS_AUDIO
  bool "Enable audio"
  default y

if HAS_AUDIO
config SB_ADDR
  hex "Physical address of the audio stream buffer"
  default 0xa1200000

config SB_SIZE
  hex "Size of the audio stream buffer"
  default 0x10000

config AUDIO_CTL_PORT
  depends on HAS_PORT_IO
  hex "Port address of the audio controller"
  default 0x200

config AUDIO_CTL_MMIO
  hex "MMIO address of the audio controller"
  default 0xa0000200
endif # HAS_AUDIO

menuconfig HAS_DISK
  bool "Enable disk"
  default y

if HAS_DISK
config DISK_CTL_PORT
  depends on HAS_PORT_IO
  hex "Port address of the disk controller"
  default 0x300

config DISK_CTL_MMIO
  hex "MMIO address of the disk controller"
  default 0xa0000300

config DISK_IMG_PATH
  string "The path of disk image"
  default ""
endif # HAS_DISK

menuconfig HAS_VIRTIO_RNG
  bool "Enable virtio-mmio random number generator"
  default n
  help
    Provide a small modern virtio-mmio RNG device for Linux hwrng.
    Ubuntu/systemd can then use /dev/hwrng instead of relying only on
    /chosen/rng-seed from the bootloader.

if HAS_VIRTIO_RNG
config VIRTIO_RNG_MMIO
  hex "MMIO address of the virtio rng controller"
  default 0x10002000
endif # HAS_VIRTIO_RNG

menuconfig HAS_GOLDFISH_RTC
  bool "Enable goldfish RTC"
  default n
  help
    Provide a small google,goldfish-rtc compatible MMIO device for Linux.
    This gives Ubuntu a wall-clock RTC device instead of relying only on
    CLINT mtime or systemd's software clock.

if HAS_GOLDFISH_RTC
config GOLDFISH_RTC_MMIO
  hex "MMIO address of the goldfish RTC controller"
  default 0x10003000
endif # HAS_GOLDFISH_RTC

menuconfig HAS_SYSCON_RESET
  bool "Enable syscon reset/poweroff"
  default n
  help
    Provide a small MMIO syscon register used by standard
    syscon-poweroff/syscon-reboot device-tree nodes. This lets Linux or
    OpenSBI finish a real shutdown path instead of relying on host kill.

if HAS_SYSCON_RESET
config SYSCON_RESET_MMIO
  hex "MMIO address of the syscon reset register"
  default 0x100000

config SYSCON_POWEROFF_VALUE
  hex "Poweroff value"
  default 0x5555

config SYSCON_REBOOT_VALUE
  hex "Reboot value"
  default 0x7777
endif # HAS_SYSCON_RESET

menuconfig HAS_SDCARD
  bool "Enable sdcard"
  default n

if HAS_SDCARD
config SDCARD_CTL_MMIO
  hex "MMIO address of the sdcard controller"
  default 0xa3000000

config SDCARD_IMG_PATH
  string "The path of sdcard image"
  default ""
endif # HAS_SDCARD
endif

endif # DEVICE
