# 性能测试专用 defconfig — 关闭所有 trace 和日志，追求极速
CONFIG_CC_GPP=y
CONFIG_CC="g++"
CONFIG_CC_O3=y
CONFIG_CC_OPT="-O3"
CONFIG_CC_DEBUG=n
CONFIG_NPC_DEFAULT_MAX_CYCLES=0
CONFIG_NPC_DEFAULT_LOG_PATH="build/npc-log.txt"
CONFIG_NPC_BATCH_MODE=y
CONFIG_NPC_STDIN_KEYBOARD=n
CONFIG_NPC_HAS_VGA=n
CONFIG_NPC_TRACE_BY_DEFAULT=n
CONFIG_NPC_COLORED_LOG=y
CONFIG_NPC_LOG_FILE=n
CONFIG_NPC_PROGRESS_BY_DEFAULT=y
CONFIG_NPC_DEFAULT_PROGRESS_INTERVAL=10000000
CONFIG_NPC_DIFFTEST=n
CONFIG_NPC_SDB=n
CONFIG_NPC_EXPR=n
CONFIG_NPC_WATCHPOINT=n
CONFIG_NPC_ITRACE=n
CONFIG_NPC_MTRACE=n
CONFIG_NPC_DTRACE=n
